img#logomark {
    width: 50px;
    height: 50px;

}

img#logoword{
    margin-left: 20px;
    width: 200px;
    height: 50px;
}

header{
    border-bottom:1px solid #B1B3B6;
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
    color: #f2f2f2;
}

form {
    background-color: #fff;
    
}

input#todo {
    width: 300px;
    height: 80px;
    font-size: 20px;
    margin-left: 20px;
    border: 2px solid #F8F8FC;
    background-color: #F8F8FC;
    border-radius: 0.67em;
    float: left;
}
input#todo[type="text"]:focus {
    border: 1px solid #00bcad;
    outline: 0;
}

input#limit{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid #F8F8FC;
    background-color: #F8F8FC;
    border-radius: 0.67em;
}
input#limit[type="datetime-local"]:focus {
    border: 1px solid #00bcad;
    outline: 0;
}

button#add-submit{
    margin-left: 10px;
    width: 80px;
    height: 30px;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 0.67em;
}
button#add-submit:hover{
    background-color: #00bcad;
    border: 2px solid #00bcad;
}

div#message-container{
    clear: left;
}

input[type="checkbox"]{
    color: #00bcad;
}

tr.todo_row_id{
    width: 800px;
    height: 80px;
    font-size: 20px;
    margin-left: 20px;
    border: 2px solid #F8F8FC;
    background-color: #F8F8FC;
    color: #4f5051;
    border-radius: 0.67em;
    float: left;
    margin-top: 30px;
}

td#yotei{
    line-height: 3.5;
}

*{
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}