<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/img/favicon/icon.ico">
    <link rel="apple-touch-icon" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicon/android-chrome-192x192.png">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <script defer src="{{ url_for('static', filename='todo.js') }}"></script>
</head>
<body>
    <header>
        <img src="/static/img/logo/ver01.svg" alt="✅" id="logomark"/>
        <img src="/static/img/logo/ver02.svg" alt="✅" id="logoword">
    </header>
    <form id="schedule" action='/register_done'>
        <div>
            <input type="text" id="todo" placeholder="予定を入力" name="todo">
        </div>
        <div>
            <input type="datetime-local" id="limit" name="time">
        </div>
        <div>
            <button type="submit" id="add-submit" formmethod="get">追加</button>
        </div>
    </form>

    <div id="message-container" role="alert" style="display: none;"></div>
            <div id="error-container" role="alert" style="display: none;"></div>
            <h2>{{ result_message }}</h2>

    <div>
        <table id="todo_table">
            <thead>
                <tr>
                    <!-- <th>予定</th>
                    <th>期限</th>
                    <th>完了</th> -->
                </tr>
            </thead>
            
            <tbody>
                {% set count = 0 %}
                {% for item in data %}
                {% set count = count + 1 %}
                    <tr id="todo_row_id-{{item[0]}}" class="todo_row_id">
                        <td id="yotei">{{item[1]}}</td>
                        <td id="kigen">&#x1F552;{{item[3]}}</td>
                        <td id="kanryou">{{item[4]}}</td>
                        <td><input type="checkbox" id="fav-{{item[0]}}" name="fav-{{item[0]}}" value="{{item[0]}}"></td>
                    </tr>
               
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

