<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/img/favicon/icon.ico">
    <link rel="apple-touch-icon" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicon/android-chrome-192x192.png">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <script defer src="{{ url_for('static', filename='todo.js') }}"></script>
</head>
<body background="https://cdn.discordapp.com/attachments/1058362475877240974/1068082655524044850/konstantin-kleine-V1NVvXmO_dk-unsplash.jpg”%3E%22%3E">
    <header>
        <img src="https://images.goodsmile.info/cgm/images/product/20210513/11189/84603/large/1c62c769931f85ed2b8f24df5ade7969.jpg" alt="✅" id="logomark">
        <img src="../img/logo/ver02.svg" alt="✅" id="logoword">

    </header>
    <!--<form id="schedule" action='/register_done'>-->
    <form id="schedule" action='/register_done'></form>
        <div>
            <input type="text" id="todo" placeholder="予定を入力" name="todo" class="schedule" maxlength="30">
        </div>
        <div>
            <input type="datetime-local" id="limit" name="time">
        </div>
        <div>
            <button type="submit" id="add-submit" formmethod="get">追加</button>
        </div>
    </form>

    <p id="alert_area" style="display:none; color:red">30文字より多く入力する事はできません。</p>

    <div id="message-container" role="alert" style="display: none;"></div>
            <div id="error-container" role="alert" style="display: none;"></div>
            <h2>{{ result_message }}</h2>

    <div>
        <table id="todo_table">
            
                {% for item in data %}
                
                <tr id="oboro">
                    <td><input type="checkbox" id="fav-{{item[0]}}" name="fav-{{item[0]}}" value="{{item[0]}}"></td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td><button type="button" id="{{item[0]}}" >削 除</button></td>
                    <td><button type="button" id="edit-{{item[0]}}", name="edit-{{item[0]}}", value="{{item[0]}}">編集</button></td>
                </tr>

                <!-- {% set count = count + 1 %}
                    <tr id="todo_row_id-{{item[0]}}" class="todo_row_id">
                        <td id="yotei">{{item[1]}}</td>
                        <td><button type="button" id="edit-{{item[0]}}", name="edit-{{item[0]}}", value="{{item[0]}}">編集</button></td>
                        <td id="kigen">&#x1F552;{{item[3]}}</td>
                        <td id="kanryou">{{item[4]}}</td>
                        <td><input type="checkbox" id="fav-{{item[0]}}" name="fav-{{item[0]}}" value="{{item[0]}}"></td> -->
                        <!--<td><button type="button" id="edit-{{item[0]}}", name="edit-{{item[0]}}", value="{{item[0]}}">編集</button></td>-->
                    <!-- </tr> -->
               
                
<!-- (編集機能（TODOのところだけ）つけました！) -->
                {% endfor %}
        </table>
    </div>
</body>
</html>

